version: '3.8'

services:
  authservice:
    build:
      context: .
      dockerfile: AuthService/Dockerfile
    ports:
      - "5100:8080"

  productservice:
    build:
      context: .
      dockerfile: ProductService/Dockerfile
    ports:
      - "5001:8080"

  orderservice:
    build:
      context: .
      dockerfile: OrderService/Dockerfile
    ports:
      - "5002:8080"

  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - productservice
      - orderservice
      - authservice
